<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Product name">
    <label for="price" placeholder="price">Price</label>
    <input type="number" name="price" id="price">
    <select name="description" id="description">
        <% for(let category of categories){  %>
            <option value="<%= category  %>"> <%= category  %></option>
        <% }  %>
    </select>
    <button>Submit</button>
    </form>
    <a href="/products/">Cancel</a>
</body>
</html>

